<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulduck.permissionlib">
    <application
        android:allowBackup="true">
        <activity android:name="com.paulduck.permissionlib.PermissionHandler$PermissionRequestActivity" />
    </application>
</manifest>